:root{
    --main-color:rgb(255, 35, 25);
    --main-color-low-opacity:rgba(255, 35, 25,.8) ;
    --second-color:hsl(0, 0%, 9%);
    --third-color:hsl(0,0%,11%);
    --fourth-color:hsl(0,0%,15%);
}

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color:#fff;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top:0;
    left:0;
    width: 120px;
    height: 100vh;
    padding: 0 1.7rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background:var(--second-color);
}

.sidebar:hover{
    width: 240px;
    transition: 0.4s;
}

.logo{
    height: 80px;
    padding:16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding:0;
}
.menu li {
    padding:1rem;
    margin:8px 0 ;
    border-radius: 8px;
    transition:all 0.5s ease-in-out ;
}

.menu li:hover,
.active{
    background: var(--fourth-color);
}

.menu a {
    color:#fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.main-content{
    position:relative ;
    width: 100%;
    padding: 1rem;
}

.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--main-color-low-opacity);
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem ;
}

.header-title{
    color:#fff;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box{
    background: var(--fourth-color);
    border-radius: 15px;
    color:#fff;
    display: flex;
    align-items: center;
    gap:5px;
    padding: 4px 12px;
}

.search-box input{
    background-color: transparent;
    padding: 10px;
}
.search-box input::placeholder {
    color: #fff;
}

.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover{
    transform: scale(1.2) ;
}